Test.json
[
    {
        "id": "fec90f57.69a9b",
        "type": "tab",
        "label": "Time controller",
        "disabled": false,
        "info": ""
    },
    {
        "id": "945c3be.bb63e48",
        "type": "tab",
        "label": "Sensor1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4d90f047.30b6b",
        "type": "tab",
        "label": "Sensor2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4b191f82.bae09",
        "type": "tab",
        "label": "TimeSeries",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b7865dcd.f59db8",
        "type": "tab",
        "label": "Device",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b4923d00.e18c58",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b19e3aaa.6183b8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosquitto",
        "broker": "192.168.1.27",
        "port": "1883",
        "tls": "",
        "clientid": "NodeRed",
        "usetls": false,
        "compatmode": false,
        "keepalive": "300",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "/unxpected_disconnect",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d3cdd90a.0c3838",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "66ec968f.642c1",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "2233",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d3a3ec4b.be1b58",
        "type": "inject",
        "z": "fec90f57.69a9b",
        "name": "",
        "topic": "interval",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 164,
        "y": 132,
        "wires": [
            [
                "e7dbc9e8.00223"
            ]
        ]
    },
    {
        "id": "6b7ba8f2.180678",
        "type": "function",
        "z": "fec90f57.69a9b",
        "name": "",
        "func": "msg.delay=10000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 412,
        "y": 84,
        "wires": [
            [
                "9d7cc470.99377"
            ]
        ]
    },
    {
        "id": "e7dbc9e8.00223",
        "type": "delay",
        "z": "fec90f57.69a9b",
        "name": "",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 498,
        "y": 174,
        "wires": [
            [
                "6b7ba8f2.180678"
            ]
        ]
    },
    {
        "id": "e9b033f8.d871f8",
        "type": "debug",
        "z": "fec90f57.69a9b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 852,
        "y": 100,
        "wires": []
    },
    {
        "id": "9d7cc470.99377",
        "type": "change",
        "z": "fec90f57.69a9b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 57,
        "wires": [
            [
                "e7dbc9e8.00223",
                "e9b033f8.d871f8"
            ]
        ]
    },
    {
        "id": "42841163.f59d4",
        "type": "link in",
        "z": "945c3be.bb63e48",
        "name": "RunSensor",
        "links": [
            "7810fe7.c59858"
        ],
        "x": 207,
        "y": 278,
        "wires": [
            [
                "c4f11d50.5751d8"
            ]
        ]
    },
    {
        "id": "40792097.a2166",
        "type": "inject",
        "z": "fec90f57.69a9b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 148,
        "y": 568,
        "wires": [
            [
                "7810fe7.c59858"
            ]
        ]
    },
    {
        "id": "7810fe7.c59858",
        "type": "link out",
        "z": "fec90f57.69a9b",
        "name": "ToSensor",
        "links": [
            "42841163.f59d4",
            "7315467a.fdff5"
        ],
        "x": 348,
        "y": 539,
        "wires": []
    },
    {
        "id": "2bd695b0.60693a",
        "type": "link out",
        "z": "945c3be.bb63e48",
        "name": "ToTimeController",
        "links": [
            "1d43f88f.f76b7f"
        ],
        "x": 1063,
        "y": 267,
        "wires": []
    },
    {
        "id": "1d43f88f.f76b7f",
        "type": "link in",
        "z": "fec90f57.69a9b",
        "name": "",
        "links": [
            "1737476b.209cf1",
            "2bd695b0.60693a"
        ],
        "x": 630,
        "y": 537,
        "wires": [
            [
                "19841e3b.1cc5c2",
                "be6d4eba.f7dda",
                "37fac88f.14f44"
            ]
        ]
    },
    {
        "id": "7315467a.fdff5",
        "type": "link in",
        "z": "4d90f047.30b6b",
        "name": "RunSensor",
        "links": [
            "7810fe7.c59858"
        ],
        "x": 206,
        "y": 282,
        "wires": [
            [
                "34420886.b70f3"
            ]
        ]
    },
    {
        "id": "1737476b.209cf1",
        "type": "link out",
        "z": "4d90f047.30b6b",
        "name": "ToTimeController",
        "links": [
            "1d43f88f.f76b7f"
        ],
        "x": 932,
        "y": 178,
        "wires": []
    },
    {
        "id": "fc3fb0af.88616",
        "type": "debug",
        "z": "fec90f57.69a9b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1254,
        "y": 627,
        "wires": []
    },
    {
        "id": "a1358cb4.963de",
        "type": "change",
        "z": "4d90f047.30b6b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "Sensor2",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "data",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 531,
        "y": 72,
        "wires": [
            []
        ]
    },
    {
        "id": "19841e3b.1cc5c2",
        "type": "switch",
        "z": "fec90f57.69a9b",
        "name": "",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sensor1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 761,
        "y": 363,
        "wires": [
            [
                "2b293df9.4fceba"
            ]
        ]
    },
    {
        "id": "2b293df9.4fceba",
        "type": "batch",
        "z": "fec90f57.69a9b",
        "name": "",
        "mode": "count",
        "count": "3",
        "overlap": "2",
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [],
        "x": 903,
        "y": 364,
        "wires": [
            [
                "39542c97.6a0284"
            ]
        ]
    },
    {
        "id": "39542c97.6a0284",
        "type": "join",
        "z": "fec90f57.69a9b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "data",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1082,
        "y": 362,
        "wires": [
            [
                "fc3fb0af.88616",
                "6aaaa0b4.627558"
            ]
        ]
    },
    {
        "id": "be6d4eba.f7dda",
        "type": "function",
        "z": "fec90f57.69a9b",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 796,
        "y": 563,
        "wires": [
            []
        ]
    },
    {
        "id": "37fac88f.14f44",
        "type": "switch",
        "z": "fec90f57.69a9b",
        "name": "",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sensor2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 774,
        "y": 456,
        "wires": [
            [
                "dcce5637.4f249"
            ]
        ]
    },
    {
        "id": "dcce5637.4f249",
        "type": "batch",
        "z": "fec90f57.69a9b",
        "name": "",
        "mode": "count",
        "count": "3",
        "overlap": "2",
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [],
        "x": 916,
        "y": 457,
        "wires": [
            [
                "1a5a8581.4824aa"
            ]
        ]
    },
    {
        "id": "1a5a8581.4824aa",
        "type": "join",
        "z": "fec90f57.69a9b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "data",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1095,
        "y": 455,
        "wires": [
            [
                "6aaaa0b4.627558"
            ]
        ]
    },
    {
        "id": "e48a8a7a.7583a8",
        "type": "link in",
        "z": "4b191f82.bae09",
        "name": "FromTimeControllerToTriggerPrediction",
        "links": [
            "6aaaa0b4.627558"
        ],
        "x": 307,
        "y": 234,
        "wires": [
            [
                "ae62dd9e.18fe98"
            ]
        ]
    },
    {
        "id": "6aaaa0b4.627558",
        "type": "link out",
        "z": "fec90f57.69a9b",
        "name": "ToTrigerPrediction",
        "links": [
            "e48a8a7a.7583a8"
        ],
        "x": 1269,
        "y": 400,
        "wires": []
    },
    {
        "id": "ae62dd9e.18fe98",
        "type": "function",
        "z": "4b191f82.bae09",
        "name": "TimeSeries",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 478,
        "y": 233,
        "wires": [
            [
                "e82966b0.37ada"
            ]
        ]
    },
    {
        "id": "e82966b0.37ada",
        "type": "link out",
        "z": "4b191f82.bae09",
        "name": "",
        "links": [
            "3976be8d.e5e702"
        ],
        "x": 701,
        "y": 220,
        "wires": []
    },
    {
        "id": "3976be8d.e5e702",
        "type": "link in",
        "z": "fec90f57.69a9b",
        "name": "FromTimeSeries",
        "links": [
            "e82966b0.37ada"
        ],
        "x": 1458,
        "y": 246,
        "wires": [
            []
        ]
    },
    {
        "id": "4d103ce3.f5fff4",
        "type": "function",
        "z": "945c3be.bb63e48",
        "name": "",
        "func": "msg.delay=10000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 427,
        "y": 195,
        "wires": [
            [
                "e93bd55.bfc72a8"
            ]
        ]
    },
    {
        "id": "ebc500ee.16a76",
        "type": "debug",
        "z": "945c3be.bb63e48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 861,
        "y": 101,
        "wires": []
    },
    {
        "id": "e93bd55.bfc72a8",
        "type": "change",
        "z": "945c3be.bb63e48",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 642,
        "y": 178,
        "wires": [
            [
                "c4f11d50.5751d8",
                "ebc500ee.16a76",
                "2bd695b0.60693a"
            ]
        ]
    },
    {
        "id": "c4f11d50.5751d8",
        "type": "delay",
        "z": "945c3be.bb63e48",
        "name": "",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 538,
        "y": 326,
        "wires": [
            [
                "4d103ce3.f5fff4"
            ]
        ]
    },
    {
        "id": "845a9951.3ec7d",
        "type": "function",
        "z": "4d90f047.30b6b",
        "name": "",
        "func": "msg.delay=10000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 426,
        "y": 187,
        "wires": [
            [
                "4a09c905.7c548"
            ]
        ]
    },
    {
        "id": "274dce1a.74e23a",
        "type": "debug",
        "z": "4d90f047.30b6b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 868,
        "y": 310,
        "wires": []
    },
    {
        "id": "4a09c905.7c548",
        "type": "change",
        "z": "4d90f047.30b6b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 169,
        "wires": [
            [
                "34420886.b70f3",
                "274dce1a.74e23a",
                "1737476b.209cf1"
            ]
        ]
    },
    {
        "id": "34420886.b70f3",
        "type": "delay",
        "z": "4d90f047.30b6b",
        "name": "",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 500,
        "y": 328,
        "wires": [
            [
                "845a9951.3ec7d"
            ]
        ]
    },
    {
        "id": "5b747d47.ae1914",
        "type": "csv",
        "z": "b7865dcd.f59db8",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "x": 496,
        "y": 76,
        "wires": [
            [
                "f4a5c088.4a1d3"
            ]
        ]
    },
    {
        "id": "220c5f9a.41336",
        "type": "inject",
        "z": "b7865dcd.f59db8",
        "name": "Inject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 783,
        "y": 375,
        "wires": [
            [
                "b15c9b81.634558"
            ]
        ]
    },
    {
        "id": "4934a206.375244",
        "type": "csv",
        "z": "b7865dcd.f59db8",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": false,
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "1",
        "x": 1083,
        "y": 375,
        "wires": [
            [
                "fa910a80.7416f"
            ]
        ]
    },
    {
        "id": "fa910a80.7416f",
        "type": "debug",
        "z": "b7865dcd.f59db8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1243,
        "y": 375,
        "wires": []
    },
    {
        "id": "b15c9b81.634558",
        "type": "template",
        "z": "b7865dcd.f59db8",
        "name": "CSV data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "# This is some random data\na,b,c\n80,18,2\n52,36,10\n91,18,61\n32,47,65",
        "output": "str",
        "x": 933,
        "y": 375,
        "wires": [
            [
                "4934a206.375244"
            ]
        ]
    },
    {
        "id": "97cb2c1a.647ad8",
        "type": "file in",
        "z": "b7865dcd.f59db8",
        "name": "",
        "filename": "Test.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 327,
        "y": 77,
        "wires": [
            [
                "5b747d47.ae1914"
            ]
        ]
    },
    {
        "id": "7a479f6b.3f2048",
        "type": "debug",
        "z": "b7865dcd.f59db8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "dataooo",
        "targetType": "msg",
        "x": 890,
        "y": 80,
        "wires": []
    },
    {
        "id": "9df23f42.4e79d8",
        "type": "inject",
        "z": "b7865dcd.f59db8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 990,
        "y": 180,
        "wires": [
            [
                "de8e1e2c.469d18"
            ]
        ]
    },
    {
        "id": "de8e1e2c.469d18",
        "type": "debug",
        "z": "b7865dcd.f59db8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1220,
        "y": 179,
        "wires": []
    },
    {
        "id": "f4a5c088.4a1d3",
        "type": "function",
        "z": "b7865dcd.f59db8",
        "name": "",
        "func": "var count=0;\nflow.set('count',count);\nglobal.set('data',msg.payload);\nmsg.count=count;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 80,
        "wires": [
            [
                "208bedb0.8b3b6a"
            ]
        ]
    },
    {
        "id": "81e7a328.caee78",
        "type": "inject",
        "z": "b7865dcd.f59db8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 167,
        "y": 401,
        "wires": [
            [
                "1b3987aa.68041",
                "a937aae8.85a4e"
            ]
        ]
    },
    {
        "id": "fae7146b.268d5",
        "type": "debug",
        "z": "b7865dcd.f59db8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "msg.payload",
        "targetType": "jsonata",
        "x": 1122,
        "y": 68,
        "wires": []
    },
    {
        "id": "208bedb0.8b3b6a",
        "type": "change",
        "z": "b7865dcd.f59db8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dataooo",
                "pt": "msg",
                "to": "data",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 260,
        "wires": [
            [
                "7a479f6b.3f2048"
            ]
        ]
    },
    {
        "id": "cf0db02.f91825",
        "type": "inject",
        "z": "b4923d00.e18c58",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 221,
        "y": 240,
        "wires": [
            [
                "8e5443df.bcd918"
            ]
        ]
    },
    {
        "id": "8e5443df.bcd918",
        "type": "actionflows",
        "z": "b4923d00.e18c58",
        "info": "Describe your action API here.",
        "untilproptype": "num",
        "proptype": "msg",
        "name": "initDevices",
        "prop": "loop",
        "untilprop": 0,
        "until": "gt",
        "loop": "none",
        "scope": "global",
        "perf": false,
        "seq": false,
        "x": 457,
        "y": 261,
        "wires": [
            [
                "dfdf7804.e13e88"
            ]
        ]
    },
    {
        "id": "dfdf7804.e13e88",
        "type": "actionflows_out",
        "z": "b4923d00.e18c58",
        "name": "initDevices",
        "links": [],
        "x": 658,
        "y": 254,
        "wires": []
    },
    {
        "id": "1ca6e610.b92442",
        "type": "actionflows_in",
        "z": "b7865dcd.f59db8",
        "name": "initDevices",
        "priority": "50",
        "links": [],
        "scope": "global",
        "x": 159,
        "y": 185,
        "wires": [
            [
                "97cb2c1a.647ad8"
            ]
        ]
    },
    {
        "id": "997745cb.5aa248",
        "type": "tcp out",
        "z": "b7865dcd.f59db8",
        "host": "localhost",
        "port": "2222",
        "beserver": "client",
        "base64": false,
        "end": true,
        "name": "",
        "x": 563,
        "y": 526,
        "wires": []
    },
    {
        "id": "3966fdc1.7c0652",
        "type": "tcp in",
        "z": "b7865dcd.f59db8",
        "name": "",
        "server": "server",
        "host": "localhost",
        "port": "2222",
        "datamode": "single",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 305,
        "y": 646,
        "wires": [
            [
                "7415c3d.dd255bc"
            ]
        ]
    },
    {
        "id": "a937aae8.85a4e",
        "type": "debug",
        "z": "b7865dcd.f59db8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 471,
        "y": 392,
        "wires": []
    },
    {
        "id": "1b3987aa.68041",
        "type": "change",
        "z": "b7865dcd.f59db8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 276,
        "y": 508,
        "wires": [
            [
                "997745cb.5aa248"
            ]
        ]
    },
    {
        "id": "56a8d713.33d12",
        "type": "debug",
        "z": "b7865dcd.f59db8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 217,
        "y": 274,
        "wires": []
    },
    {
        "id": "7415c3d.dd255bc",
        "type": "debug",
        "z": "b7865dcd.f59db8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 551,
        "y": 640,
        "wires": []
    }
]